body {
	font-family: "Noto Serif", Verdana, "Lucida Sans Unicode", sans-serif;
	text-align: center;
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	font-size: 120%;
}
:root {
	--main-bg-color: #09080e;
	--main-txt-color: #cccccc;
	--opposite-bg-color: #dddddd;
	--opposite-txt-color: #050833;
	--highlight-bg-color: #f5f5f5;
	--main-card-color: #242537;
	--highlight-card-color: #303255;
}

input {
	text-align: center;
	font-size: 100%;
	width: 45%;
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	font-size: 250%;
}
.word {
	font-weight: bold;
	font-style: italic;
}
.book {
	font-style: italic;
}
.etymology {
	font-style: italic;
}