@font-face {
  font-family: "sitelen seli kiwen";
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/lipu-linku/nasin-sitelen/main/sitelenselikiwenasuki.ttf);
}

html {
  color-scheme: dark;
}

html.lightmode {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif", Verdana, "Lucida Sans Unicode", sans-serif;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
}
:root {
  --bg-color: #000000;
  --txt-color: hsl(222, 100%, 99%);
  --highlight-color: hsl(34, 100%, 63%);
  --link-color: hsl(172, 100%, 26%);
  --shade-color: hsl(222, 12%, 60%);
  --border-color: hsl(222, 12%, 20%);
  --bg-alt-color: hsl(222, 0%, 7%);
}
.lightmode {
  --bg-color: #ffffff;
  --txt-color: hsl(222, 12%, 8%);
  --highlight-color: hsl(34, 92%, 50%);
  --link-color: hsl(172, 100%, 26%);
  --shade-color: hsl(222, 28%, 45%);
  --border-color: hsl(222, 28%, 75%);
  --bg-alt-color: hsl(222, 0%, 93%);
}
*:focus-visible {
  outline: 2px solid var(--highlight-color);
  outline-offset: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: sticky;
  padding: 0.5rem 1rem;
  top: 0;
  z-index: 1;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}

nav > div {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav > :last-child {
  justify-content: end;
}

nav img {
  width: 2rem;
  height: 2rem;
  display: block;
}
.lightmode nav img {
  filter: invert(100%);
}

.search_container {
  max-width: 20rem;
  flex-basis: 100%;
  flex-shrink: 0;
}

.searchbar {
  text-align: center;
  font-size: 150%;
  font-family: inherit;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  background-color: var(--bg-alt-color);
  color: var(--highlight-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 0.25rem 0;
}

#language_selector {
  font: inherit;
  background-color: var(--bg-color);
  color: var(--txt-color);

  cursor: pointer;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
}

#language_selector + img {
  pointer-events: none;
  border-radius: 100%;
}
#language_selector:focus + img {
  outline: 2px solid var(--highlight-color);
  outline-offset: 2px;
}

#language_selector_wrapper {
  position: relative;
}

.main_input {
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  transition: box-shadow 0.2s, border 0.2s;
}
.main_input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--highlight-color);
  border-color: var(--highlight-color);
}

#normal_mode_button {
  font: inherit;
  color: inherit;
  display: none;
  background: var(--bg-alt-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}
#normal_mode_button:hover {
  background: var(--highlight-color);
  border-color: var(--highlight-color);
  color: var(--bg-color);
}

@media screen and (max-width: 640px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo" "buttons" "search";
    gap: 0.5rem;
    top: -3rem;
  }

  nav > :first-child {
    white-space: nowrap;
  }

  nav > .search_container {
    grid-area: search;
    grid-column: 1 / -1;
    max-width: 100%;
  }
}

#survey {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
.navlink {
  display: block;
  margin-top: 1rem;
}

code {
  color: var(--shade-color);
  font-family: "Courier New";
  font-weight: bold;
  margin: 4px;
}
h1,
h2 {
  color: var(--highlight-color);
}
::placeholder {
  color: var(--shade-color);
  opacity: 0.5;
}
.page_width_limiter {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 840px;
}

#dictionary {
  margin-top: 1rem;
}

.entry {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr)
    minmax(0, 1fr);
  grid-column-gap: 10px;
  grid-template-areas:
    "sourcelanguage sourcelanguage creator creator creator"
    "etymology etymology etymology coined coined"
    "sitelenpona book book book sitelensitelen"
    "sitelenpona recognition recognition recognition sitelensitelen"
    "sitelenpona word word word sitelensitelen"
    "sitelenpona definition definition definition sitelensitelen"
    ". seealso seealso seealso ."
    "details details details details details";
  padding: 0.5rem 0;
  border-top: 1px solid var(--border-color);
}
details {
  margin: 5px;
  border: 1px;
  border-color: var(--shade-color);
  grid-area: details;
}
.details {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 2.6fr) minmax(0, 0.8fr) minmax(0, 2.6fr)
    minmax(0, 1fr);
  grid-column-gap: 10px;
  grid-template-areas:
    "ucsur . . lukapona lukapona"
    "spetymology spetymology . commentary commentary"
    "kudata kudata kudata kudata kudata"
    "audio_kalaasi audio_kalaasi . audio_janlakuse audio_janlakuse";
}
.word {
  grid-area: word;
  font-size: 200%;
  color: var(--highlight-color);
  font-weight: bold;
  font-style: italic;
}
.book {
  grid-area: book;
  font-style: italic;
}
.recognition {
  grid-area: recognition;
  color: var(--shade-color);
  font-style: italic;
}
.etymology {
  grid-area: etymology;
  color: var(--shade-color);
  text-align: left;
}
.sourcelanguage {
  grid-area: sourcelanguage;
  color: var(--shade-color);
  text-align: left;
}
.creator {
  grid-area: creator;
  color: var(--shade-color);
  text-align: right;
}
.coined {
  grid-area: coined;
  color: var(--shade-color);
  text-align: right;
}
.definition {
  grid-area: definition;
}
.seealso {
  grid-area: seealso;
  color: var(--shade-color);
}
.kudata {
  grid-area: kudata;
  color: var(--shade-color);
}
.lukapona {
  grid-area: lukapona;
}
summary {
  color: var(--shade-color);
}
.audio_janlakuse {
  grid-area: audio_janlakuse;
}
.audio_kalaasi {
  grid-area: audio_kalaasi;
}
.ucsur {
  font-size: 150%;
  grid-area: ucsur;
}
.sitelenemosi {
  /* not shown currently; must be re-added to grid-area */
  font-size: 200%;
  grid-area: emosi;
}
.sitelenponaetymology {
  grid-area: spetymology;
  color: var(--shade-color);
}
.commentary {
  grid-area: commentary;
  color: var(--shade-color);
}
.sitelenpona {
  grid-area: sitelenpona;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "sitelen seli kiwen";
  font-size: 320%;
}
.sitelensitelen {
  grid-area: sitelensitelen;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(100%);
  color: var(--bg-color);
  height: 50px;
  width: 50px;
  margin: auto;
}
.lightmode .sitelensitelen {
  filter: none;
}
.shaded {
  color: var(--shade-color);
}
#checkbox_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
